.search {
  position: absolute;
  top: 35px;
  left: 30%;
  width: 100vh;
}

.search > h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 559px;
  padding: 10px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 350px;
  margin-bottom: 1rem;
}

.search > input {
  width: 539px;
  padding: 20px;
  position: absolute;
  left: 0;
  top: 415px;
  height: 30px;
  border: 0;
}

.search > input:focus {
  outline-width: 0;
}

.search > button {
  padding: 10px;
  position: absolute;
  left: 0;
  top: 485px;
  width: 579px;
  background-color: #ff7779;
  color: #fff;
  border: 1px solid;
  text-transform: inherit !important;
}

.search > button:hover {
  background-color: #fff;
  color: #ff7779;
}
